<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="off">
	<Properties>
		<Property name="myPattern1">%d %p %c %M %m%n</Property>
		<Property name="myPattern2">%d{yyyy/MM/dd HH:mm:ss.SSS} %-6p %c{10} %m%n</Property>
		<Property name="logfile">ReadTable.log</Property>
		<Property name="logfile-archive ">ReadTable_%d{yyyy-MM-dd}-%i.log</Property>
	</Properties>
	<Appenders>
		<Console name="STDOUT">
			<PatternLayout pattern="${myPattern1}" />
		</Console>
		<RollingFile name="logfile001" append="true" fileName="${logfile}"
			filePattern="${logfile-archive}">
			<PatternLayout pattern="${myPattern2}" />
			<Policies>
				<SizeBasedTriggeringPolicy size="10MB" />
			</Policies>
			<DefaultRolloverStrategy max="10" />
		</RollingFile>
	</Appenders>
	<Loggers>
		<Root level="trace">
			<AppenderRef ref="STDOUT" />
			<AppenderRef ref="logfile001" />
		</Root>
	</Loggers>
</Configuration>